.block {
  width: 2em;
  height: 2em;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  border-radius:0.3em;
}

/* Form I*/
.form-I {
  width: 2em;
  height: 8em;
  margin: 2em;
  padding: 0;
  box-sizing: border-box;
  position:relative;
  
  .block{
    background-color: #e16060;
  }
  
  .block_1 {
    top:0;
  }
  .block_2 {
    top:2em;
  }
  .block_3 {
    top:4em;
  }
  .block_4 {
    top:6em;
  }
}
/* Form I*/


/* Form S*/
.form-S {
  width: 6em;
  height: 4em;
  margin: 2em;
  padding: 0;
  box-sizing: border-box;
  position:relative;
  
   .block{
    background-color: #3ec0da;
  }
  
  .block_1 {
    top:0;
    left:2em;
  }
  .block_2 {
    top:0em;
    left:4em;
  }
  .block_3 {
    top:2em;
    left: 2em;
  }
  .block_4 {
    top:2em;
  }
}
/* Form S*/

/* Form T*/
.form-T {
  width: 6em;
  height: 4em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
   .block{
    background-color: orange;
    }
  
  .block_1 {
    top:0;
    left:2em;
  }
  .block_2 {
    top:0em;
    left:4em;
  }
  .block_3 {
    top:2em;
    left: 2em;
  }
  .block_4 {
    top:0em;
    left:0em;
  }
}
/* Form T*/

/* Form O*/
.form-O {
  width: 6em;
  height: 4em;
  margin: 2em;
  padding: 0;
  box-sizing: border-box;
  position:relative;
  
   .block{
    background-color: yellowgreen;
  }
  
  .block_1 {
    top:0;
    left:2em;
  }
  .block_2 {
    top:2em;
    left:0em;
  }
 .block_3 {
    top:2em;
    left: 2em;
  }
  .block_4 {
    top: 0;
    left: 0;
  }
}
/* Form O*/


/* Form L*/
.form-L {
  width: 6em;
  height: 4em;
  margin: 2em;
  padding: 0;
  box-sizing: border-box;
  position:relative;
  
   .block{
    background-color: #3e49da;
  }
  
  .block_1 {
    top:0;
    left:2em;
  }
  .block_2 {
    top:2em;
    left:0em;
  }
  .block_3 {
    top:4em;
    left: 0em;
  }
  .block_4 {
    top:0;
    left: 0;
  }
}
/* Form L*/